// Place all the styles related to the connect controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  background: #ccc;
}


.container {
  
}

.header {
  width: 100%;
  background: #bbb;
  -moz-box-shadow: inset 0 0 2px 2px #888;
  -webkit-box-shadow: inset 0 0 2px 2px#888;
  box-shadow: inset 0 0 2px 2px #888;
}

.logo {
  float: right;
  padding: 10px;
}

.headline {
  float: left;
  padding: 10px;
}

.main {

}

.footer {

}

.info_box {
  width: 80%;
  margin: 50px auto;
}

.blerp {
  width: 39%;
  float: left;
  padding: 2%;
  margin: 3%;
  border: 1px solid black;
  border-radius: 5px;
}

.signup {

}

#community {

}